manifest {
  name        = 'NetIntegRank'
  author      = 'Tal Galper'
  description = 'Dysregulated subnetworks → integrated evidence ranking'
  mainScript  = 'main.nf'
  // homePage  = 'https://github.com/<you>/netintegrank'
  // version   = '0.1.0'
}

params {
  outdir      = "results"

  // user inputs
  de_results  = null
  ppi_network = "assets/STRING_physical_ENSG.csv"

  druggability = "assets/druggability_scores_annot2.0"
  ml_scores    = "assets/ML_data.csv"
  citations    = "assets/PubTator3_counts.csv"
  gene_map     = null

  hhnet_num_permutations = 100
  hhnet_network_name     = "STRING"
  hhnet_score_name       = "DE"
  hhnet_compile_fortran  = "auto"
  hhnet_conda_env        = "envs/hhnet.yml"
}

process {
  withName: HHNET {
    cpus   = 4
    memory = "8 GB"
    time   = "24h"
    conda  = params.hhnet_conda_env
  }

  // Start simple, then lock down environments
  // withName: HHNET { cpus = 4 }
  // withName: HHNET   { conda "envs/hhnet.yml" }
  // withName: RANKING { conda "envs/ranking.yml" }

  // OR containers per process (recommended when HHnet needs old python):
  // withName: HHNET   { container "your_hhnet_image:tag" }
  // withName: RANKING { container "your_r_ranking_image:tag" }
}

profiles {
  conda {
    conda.enabled = true
  }
  docker {
    docker.enabled = true
  }
  apptainer {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
