manifest {
  name        = 'NetIntegRank'
  author      = 'Tal Galper'
  description = 'Dysregulated subnetworks → integrated evidence ranking'
  mainScript  = 'main.nf'
  homePage    = 'https://github.com/talgalper/netintegrank'
  // version   = '0.1.0'
}

params {
  outdir = "results"

  // HHNet inputs
  de_results   = null
  ppi_network  = null
  hhnet_run_id = null

  // HHNet controls
  hhnet_num_permutations = 100
  hhnet_network_name     = "STRING"
  hhnet_score_name       = "DE"
  hhnet_compile_fortran  = "auto"
  // hhnet_dir = "bin/hierarchical_hotnet"

  // Environments
  hhnet_conda_env  = "${projectDir}/envs/hhnet.yaml"
  r_conda_env      = "${projectDir}/envs/r.yaml"
  hhnet_dir        = null

  // HHNet post-processing defaults
  hhnet_min_cluster_size = 2
  hhnet_n_clusters       = 0
  hhnet_seed             = 1234
  hhnet_node_id_type     = "ensembl_gene_id"
  hhnet_extra_colours    = ""
  hhnet_plot_max_nodes   = 5000

  // Ranking defaults
  ranking_network  = "neighbours"
  ranking_features = "degree,betweenness,closeness,eigen_centrality,page_rank,highest_score"

  // Ranking inputs
  druggability   = null
  ml_scores      = null
  citations      = null
  gene_map       = null   // optional mapping file
  id_annot_cache = null   // optional explicit cache path
}

process {
  withName: HHNET {
    cpus   = 4
    memory = "8 GB"
    time   = "24h"
    conda  = params.hhnet_conda_env
  }

  withName: HHNET_POST {
    cpus   = 2
    memory = "8 GB"
    time   = "6h"
    conda = params.r_conda_env  
  }

  withName: RANKING {
    cpus   = 2
    memory = "8 GB"
    time   = "6h"
    conda = params.r_conda_env  
  }
}

profiles {
  // NOTE: must run `-profile conda` for conda to actually be used
  conda {
    conda.enabled = true
  }

  docker {
    docker.enabled = true
  }

  apptainer {
    apptainer.enabled   = true
    apptainer.autoMounts = true
  }
}